# Dataprocessing the Pecan dataset using pandas

### Importing libraries

In [114]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import datetime
plt.style.use('ggplot')
import matplotlib.dates as dates

# plots directory
figure_directory= 'Discriminative-Sparse-Coding-for-Energy-Disaggregation/figures/'
# change so that all figures have font size defulat as 22
plt.rcParams.update({'font.size': 18})
# figure size always the same
plt.figure(figsize=(16,12))

In [4]:
import os
import sys
import pandas as pd
from collections import defaultdict

In [160]:
df = pd.read_csv('datasets/135.csv')
df['DateTime'] = pd.to_datetime(df['DateTime'])
df = df.set_index('DateTime')

In [164]:
df = df.resample('1H').first()   
df = df.reset_index(drop=False) 
df.head()

,DateTime,grid (135) (kw),air1 (135) (kw),furnace1 (135) (kw),dishwasher1 (135) (kw),refrigerator1 (135) (kw)
0,2014-01-01 01:00:00,0.158,0.000,0.009,0.0,0.0
1,2014-01-01 02:00:00,1.097,0.759,0.060,0.0,0.0
2,2014-01-01 03:00:00,0.715,0.522,0.045,0.0,0.0
3,2014-01-01 04:00:00,0.111,0.000,0.009,0.0,0.0
4,2014-01-01 05:00:00,0.712,0.555,0.043,0.0,0.0

In [165]:
df['house'] = 135
df = df.set_index('house')

In [166]:
df.head()

,DateTime,grid (135) (kw),air1 (135) (kw),furnace1 (135) (kw),dishwasher1 (135) (kw),refrigerator1 (135) (kw)
house,,,,,,
135,2014-01-01 01:00:00,0.158,0.000,0.009,0.0,0.0
135,2014-01-01 02:00:00,1.097,0.759,0.060,0.0,0.0
135,2014-01-01 03:00:00,0.715,0.522,0.045,0.0,0.0
135,2014-01-01 04:00:00,0.111,0.000,0.009,0.0,0.0
135,2014-01-01 05:00:00,0.712,0.555,0.043,0.0,0.0

In [173]:

def read_data():
    houses = [135, 275, 580, 898]
    df = pd.DataFrame()
    for house in houses:
        house_df = pd.read_csv('datasets/{}.csv'.format(str(house)))
        house_df['DateTime'] = pd.to_datetime(house_df['DateTime'])
        house_df = house_df.set_index('DateTime')
        house_df = house_df.resample('1H').first()  # resample from 15 mins to 1 hour 
        house_df = house_df.reset_index(drop=False) 
        print(len(house_df))
               
        house_df.columns = ['localtime', 'use', 'air1', 'furnace1', 'dishwasher1', 'regrigerator1']  
        appliances_sum = house_df[['air1', 'furnace1', 'dishwasher1', 'regrigerator1']].sum(axis=1)
        house_df['other'] = house_df['use'].subtract(appliances_sum)
        house_df['house'] = house
        house_df = house_df.set_index('house')
        df = pd.concat([df, house_df])
                               
    return df

df = read_data()
df.head()

8759
8759
8759
8759

,localtime,use,air1,furnace1,dishwasher1,regrigerator1,other
house,,,,,,,
135,2014-01-01 01:00:00,0.158,0.000,0.009,0.0,0.0,0.149
135,2014-01-01 02:00:00,1.097,0.759,0.060,0.0,0.0,0.278
135,2014-01-01 03:00:00,0.715,0.522,0.045,0.0,0.0,0.148
135,2014-01-01 04:00:00,0.111,0.000,0.009,0.0,0.0,0.102
135,2014-01-01 05:00:00,0.712,0.555,0.043,0.0,0.0,0.114

In [106]:
unique = pd.unique(df.index.values.ravel())
# find the houses with the whole year data
full_year = map(lambda x: df[df.index==x].shape[0],unique.tolist())
indices = [i for i, x in enumerate(full_year) if x > 1000]
best_indices = map(lambda x: unique[x],indices)

<map object at 0x000002540CD215F8>

In [176]:
d = {}
houses = [135, 275, 580,  898]
for appliance in df.columns.tolist():
    started = 0
    for i in houses:

        if started == 0:

            d[str(appliance)] = df[[str(appliance)]][df[str(appliance)].index == i]
            started = 1
            dfindex = d[str(appliance)].index
        else:

            d[str(appliance)][str(i)] = pd.Series(df[str(appliance)][df[str(appliance)].index == i].values,index=dfindex)

    d[str(appliance)]=d[str(appliance)].rename(columns = {str(appliance):str(dfindex[0])})
    d[str(appliance)].reset_index(drop=True, inplace=True)
d['use']

        135    275    580    898
0     0.158  1.414  0.102  0.488
1     1.097  1.090  0.101  0.531
2     0.715  0.976  0.101  0.222
3     0.111  1.004  5.169  0.222
4     0.712  0.826  2.633  0.193
5     0.687  0.718  1.711  0.116
6     0.139  0.903  1.095  0.051
7     1.083  0.997  0.103  0.220
8     0.104  0.918  1.290  0.250
9     1.184  0.726  0.112  0.089
10    0.229  0.513  0.152  0.640
11    0.225  0.615  3.283  2.059
12    0.176  0.375  0.325  0.346
13    0.244  0.366  0.348  0.057
14    0.075  0.491  0.449  0.100
15    0.068  0.301  0.355  0.187
16    0.127  0.572  0.485  0.141
17    0.086  0.579  0.488  0.231
18    0.144  0.911  0.641  0.388
19    0.261  1.174  0.153  0.190
20    0.302  1.047  0.148  0.360
21    0.892  1.265  0.146  0.847
22    0.335  1.307  0.146  0.199
23    0.162  1.379  0.146  0.166
24    0.150  1.537  0.401  0.124
25    0.129  1.180  0.145  0.075
26    0.500  1.043  0.144  0.150
27    0.131  0.874  0.148  0.226
28    0.165  0.872  0.142  0.091
29    0.169  0.908  0.142  0.137
...     ...    ...    ...    ...
8729  0.333  0.493  5.051  0.330
8730  0.246  1.988  1.120  1.198
8731  0.203  1.918  2.879  0.909
8732  1.060  1.472  0.477  1.049
8733  0.335  1.567  0.223  0.803
8734  1.188  0.892  0.219  0.277
8735  0.871  0.835  0.231  0.149
8736  0.805  0.838  0.317  0.085
8737  0.726  1.080  0.285  0.233
8738  0.947  0.787  0.254  0.242
8739  0.567  0.936  0.226  0.218
8740  0.536  0.734  0.253  0.082
8741  0.880  1.140  0.189  0.065
8742  0.452  0.835  3.073  0.318
8743  0.463  1.291  0.434  0.586
8744  0.666  0.816  0.067  0.268
8745  0.445  1.871  0.173  0.288
8746  0.221  1.304  0.045  0.159
8747  0.774  1.021  0.095  0.185
8748  0.439  1.719  0.091  0.251
8749  0.359  0.888  0.640  0.268
8750  1.014  1.222  0.025  0.180
8751  0.585  0.886  0.061  0.486
8752  0.284  1.245  0.088  0.203
8753  0.385  1.530  0.140  0.664
8754  0.827  0.793  0.522  0.807
8755  0.371  1.556  0.779  0.360
8756  0.596  1.399  1.770  0.242
8757  1.096  1.413  1.029  0.244
8758  0.522  1.093  0.879  0.336

[8759 rows x 4 columns]

In [56]:
df=df.assign(new=1)
df.head()

,datetime,use,air1,furnace1,dishwasher1,regrigerator1,other,new
0,2014-01-01 01:00:00,0.158,0.000,0.009,0.0,0.0,0.149,1
1,2014-01-01 01:15:00,1.118,1.011,0.070,0.0,0.0,0.037,1
2,2014-01-01 01:30:00,0.563,0.383,0.038,0.0,0.0,0.142,1
3,2014-01-01 01:45:00,0.674,0.544,0.043,0.0,0.0,0.087,1
4,2014-01-01 02:00:00,1.097,0.759,0.060,0.0,0.0,0.278,1

In [58]:
df.set_index('new')

,datetime,use,air1,furnace1,dishwasher1,regrigerator1,other
new,,,,,,,
1,2014-01-01 01:00:00,0.158,0.000,0.009,0.0,0.0,0.149
1,2014-01-01 01:15:00,1.118,1.011,0.070,0.0,0.0,0.037
1,2014-01-01 01:30:00,0.563,0.383,0.038,0.0,0.0,0.142
1,2014-01-01 01:45:00,0.674,0.544,0.043,0.0,0.0,0.087
1,2014-01-01 02:00:00,1.097,0.759,0.060,0.0,0.0,0.278
1,2014-01-01 02:15:00,0.229,0.000,0.010,0.0,0.0,0.219
1,2014-01-01 02:30:00,0.161,0.000,0.009,0.0,0.0,0.152
1,2014-01-01 02:45:00,1.264,0.845,0.257,0.0,0.0,0.162
1,2014-01-01 03:00:00,0.715,0.522,0.045,0.0,0.0,0.148
1,2014-01-01 03:15:00,0.166,0.000,0.009,0.0,0.0,0.157
1,2014-01-01 03:30:00,1.125,0.926,0.065,0.0,0.0,0.134
1,2014-01-01 03:45:00,0.789,0.635,0.052,0.0,0.0,0.102
1,2014-01-01 04:00:00,0.111,0.000,0.009,0.0,0.0,0.102
1,2014-01-01 04:15:00,0.245,0.128,0.017,0.0,0.0,0.100
1,2014-01-01 04:30:00,1.345,1.160,0.077,0.0,0.0,0.108
1,2014-01-01 04:45:00,0.218,0.067,0.019,0.0,0.0,0.132
1,2014-01-01 05:00:00,0.712,0.555,0.043,0.0,0.0,0.114
1,2014-01-01 05:15:00,0.660,0.522,0.046,0.0,0.0,0.092
1,2014-01-01 05:30:00,0.098,0.000,0.009,0.0,0.0,0.089
1,2014-01-01 05:45:00,1.094,0.919,0.064,0.0,0.0,0.111
1,2014-01-01 06:00:00,0.687,0.520,0.045,0.0,0.0,0.122
1,2014-01-01 06:15:00,0.115,0.000,0.009,0.0,0.0,0.106
1,2014-01-01 06:30:00,1.286,0.932,0.286,0.0,0.0,0.068
1,2014-01-01 06:45:00,0.664,0.509,0.044,0.0,0.0,0.111
1,2014-01-01 07:00:00,0.139,0.000,0.009,0.0,0.0,0.130
1,2014-01-01 07:15:00,0.764,0.625,0.047,0.0,0.0,0.092
1,2014-01-01 07:30:00,0.789,0.656,0.053,0.0,0.0,0.080
1,2014-01-01 07:45:00,0.139,0.000,0.009,0.0,0.0,0.130
1,2014-01-01 08:00:00,1.083,0.913,0.064,0.0,0.0,0.106
1,2014-01-01 08:15:00,0.262,0.166,0.025,0.0,0.0,0.071
...,...,...,...,...,...,...,...
1,2014-12-30 17:30:00,0.348,0.000,0.010,0.0,0.0,0.338
1,2014-12-30 17:45:00,0.511,0.000,0.009,0.0,0.0,0.502
1,2014-12-30 18:00:00,0.333,0.007,0.009,0.0,0.0,0.317
1,2014-12-30 18:15:00,1.323,0.934,0.071,0.0,0.0,0.318
1,2014-12-30 18:30:00,0.357,0.000,0.010,0.0,0.0,0.347
1,2014-12-30 18:45:00,0.313,0.000,0.010,0.0,0.0,0.303
1,2014-12-30 19:00:00,0.246,0.000,0.010,0.0,0.0,0.236
1,2014-12-30 19:15:00,0.638,0.294,0.028,0.0,0.0,0.316
1,2014-12-30 19:30:00,1.424,1.144,0.078,0.0,0.0,0.202
1,2014-12-30 19:45:00,0.343,0.000,0.013,0.0,0.0,0.330
1,2014-12-30 20:00:00,0.203,0.000,0.010,0.0,0.0,0.193
1,2014-12-30 20:15:00,1.165,0.889,0.062,0.0,0.0,0.214
1,2014-12-30 20:30:00,0.275,0.089,0.021,0.0,0.0,0.165
1,2014-12-30 20:45:00,0.529,0.273,0.026,0.0,0.0,0.230
1,2014-12-30 21:00:00,1.060,0.748,0.059,0.0,0.0,0.253
1,2014-12-30 21:15:00,0.288,0.000,0.010,0.0,0.0,0.278
1,2014-12-30 21:30:00,0.340,0.167,0.020,0.0,0.0,0.153
1,2014-12-30 21:45:00,1.331,1.015,0.074,0.0,0.0,0.242
1,2014-12-30 22:00:00,0.335,0.145,0.019,0.0,0.0,0.171
1,2014-12-30 22:15:00,1.498,1.199,0.078,0.0,0.0,0.221
1,2014-12-30 22:30:00,0.486,0.113,0.164,0.0,0.0,0.209
1,2014-12-30 22:45:00,0.872,0.364,0.341,0.0,0.0,0.167
1,2014-12-30 23:00:00,1.188,0.945,0.068,0.0,0.0,0.175
1,2014-12-30 23:15:00,0.254,0.000,0.010,0.0,0.0,0.244
1,2014-12-30 23:30:00,1.225,0.835,0.058,0.0,0.0,0.332
1,2014-12-30 23:45:00,0.323,0.062,0.020,0.0,0.0,0.241
1,2014-12-31 00:00:00,0.871,0.573,0.043,0.0,0.0,0.255
1,2014-12-31 00:15:00,0.677,0.449,0.041,0.0,0.0,0.187
1,2014-12-31 00:30:00,0.243,0.000,0.009,0.0,0.0,0.234
1,2014-12-31 00:45:00,1.159,0.861,0.060,0.0,0.0,0.238

In [57]:
grouper = df.groupby('new').value_counts()
grouper.head()

AttributeError: 'DataFrameGroupBy' object has no attribute 'value_counts'

In [27]:
unique = pd.unique(df.index.values.ravel())
full_year = map(lambda x: df[df.index==x].shape[0],unique.tolist())
indices = [i for i, x in enumerate(full_year) if x == 34940]

In [34]:
df[[str('use')]][df[str('use')].index == 1]

     use
1  1.118

In [ ]:


unique = pd.unique(df.index.values.ravel())
# find the houses with the whole year data
full_year = map(lambda x: df[df.index==x].shape[0],unique.tolist())
indices = [i for i, x in enumerate(full_year) if x == 8760]
best_indices = map(lambda x: unique[x],indices)

In [17]:
non_appliances = []
non_appliances.append(df.columns.tolist().index('DateTime'))
# non_appliances.append(df.columns.tolist().index('use'))

[0]

In [10]:
df.head()

,DateTime,grid (135) (kw),air1 (135) (kw),furnace1 (135) (kw),dishwasher1 (135) (kw),refrigerator1 (135) (kw)
0,2014-01-01 01:00:00,0.158,0.000,0.009,0.0,0.0
1,2014-01-01 01:15:00,1.118,1.011,0.070,0.0,0.0
2,2014-01-01 01:30:00,0.563,0.383,0.038,0.0,0.0
3,2014-01-01 01:45:00,0.674,0.544,0.043,0.0,0.0
4,2014-01-01 02:00:00,1.097,0.759,0.060,0.0,0.0